.flipbook-timeline {
    flex-direction: row;
    flex-wrap: wrap;

    padding: 8px;
    background-color: #2a2a2a;
    border-radius: 2px;
    border-width: 2px;
    border-color: rgba(0, 0, 0, .1);
}
